/*
 * Footer
 *
 * Standard footer for projects
 */

.footer {
  padding: 25px 0;
  margin-top: 40px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.col {
  position: relative;
  min-height: 1px;
}
.info {
  /* Insert any styles for the nonprofit's information here */
}
.ctc-info {
  padding-top: 10px;
}
.info,
.ctc-info {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.ctc-text,
.ctc-image {
  display: inline-block;
  vertical-align: middle;
}
.ctc-text {
  text-align: right;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .col {
    float: left;
    width: 50%;
  }
  .info {
    text-align: left;
  }
  .ctc-info {
    padding-top: 0;
    text-align: right;
  }
}